body{
    background: linear-gradient(60deg, #ada996, #f2f2f2,#dbdbdb,#eaeaea);
    background-repeat: no-repeat;
    background-size: cover;
    height: 104vh;
    font-size: 16px
}
nav > h1{
    font-family: 'Lobster', cursive;
    display: inline-block;
    background-color: #0082c8;
    background-image: linear-gradient(45deg, #667db6, #0082c8, #0082c8,#667db6);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 3rem;
}
nav{
    margin-top: -3%;
    text-align: center;
    letter-spacing: 3px;
}
#division{
    border-radius: 25px;
    border-bottom-left-radius: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 50px;
}
#teamName{
    font-family: 'Festive', cursive;
    margin-top: -3%;
    color: rgb(204, 133, 0);
}
#logo{
    width: 300px;
    height: 250px;
    margin-left: 10%;
}
#details{
    margin-left: 7%;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.658);

}
#namec{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15%;
   
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 3rem;

}
h2,h3{
    font-family: 'Yomogi', cursive;
}
footer{
    width: 100%;
    background-color: blanchedalmond;
    height: 10vh;
    display: grid;
    place-items: center;
}
@media (max-width:880px){
    #division{
        height: 60vh;
    }
   h1{
       font-size: 34px;
   }
} 
@media (max-width:765px){
    #division{
       height: 80vh;
       align-items: flex-start;
    }
    nav > h1{
        font-size: 32px;
    }
    #details{
        position: absolute;
        top:50%;
    }
    #namec{
        margin-top: 20%;
    }
    #logo{
        width: 30%;
    }
   
} 
@media (max-width:460px){
  
    #logo{
        width: 30%;
        height: 40%;
        margin-top: 5%;
        margin-right:5% ;
    }
   
} 
@media (max-width:500px) {
    #division{
        border-radius: 25px;
        height: 75vh;
        align-items: flex-start;
     }
     footer{
         height: unset;
     }
    
}
@media (max-width:420px){
  
    #logo{
        width: 35%;
        height: 40%;
        margin-top: 5%;
        margin-right:45% ;
    }
    #photo{
        margin-left: 30%;
    }
    #details{
        position: absolute;
        top:60%;
        font-size: 15px
    }
    #division{
        height: 82vh;
        align-items: flex-start;
     }
     footer{
       margin-top: -15%;
    }
   
    @media (max-width:420px){
        #logo{
            position: relative;
            top: 5%;
            right: 8%;
            width: 25%;
            height: 14%; 
        }
       
        }
    }    